#tutoriales{
    div{
        article{
            div{
                form{
                    button{
                        border-color: #808080;
                        color: #525151;
                    }
                }
            }
        }
        width:96%;
        article{
            a{
                text-decoration: none;
                font-size: $fontGeneralText;
                text-align: center;
            }
        }
    }
}