//Fonts
$fontRoboto: 'Roboto', sans-serif;
$fontSizeGeneral: 62.5%;
$fontSmallText: 1.2em;
$fontGeneralText: 1.7em;
$fontTittleText: 2.4em;
$fontTittleH1Text: 3.2em;
$fontProductText: 1.8em;
$fontTitleWeight:600;
$fontRegularWeight: 400;

